h1,h2,h3,h4,h5,h6{
  color: green;
  font-family: sans-serif;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: square;
}
table, td {
  border: 1px solid black;
  text-align:center;
 vertical-align:middle;
}
th{
  border: 1px solid black;
  background-color:#d4e3e5;
}
blockquote{
  background-color: black;
  color:white;
}
.hyperLink {
  text-decoration: none;
}
.hyperLink:hover{
  color:green;
}
#checkbox-grid{
  list-style-type: none;
}
#teamRoster > li:first-child{
  list-style-type: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-repeat: no-repeat;
	background-size:contain;


}
#teamRoster > li:last-child {
  list-style-type: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-repeat: no-repeat;
	background-size:contain;

}
#teamRoster > li:first-child img{
    display:none

  }
#teamRoster > li:last-child img{
    display:none;
  }
ul  ul  ol> li:first-child{
  font-weight: bold;
}
